Repository adimajo/lrtree: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, document

Path conditions:
  lint: any of: .gitlab-ci.yml, Pipfile, glmtree/**/*
  test: any of: .gitlab-ci.yml, Pipfile, glmtree/**/*, tests/**/*
  document: any of: .gitlab-ci.yml, glmtree/**/*, docs/**/*

reorganized and fixed a few things, renamed to lrtree
  .gitlab-ci.yml
  Pipfile
  README.md
  docs/source/conf.py
  lrtree/__init__.py
  lrtree/fit.py
  lrtree/generate_data.py
  lrtree/predict.py
  scripts/validation.py
  setup.py
  test/test_fit.py
  test/test_init.py
  test/test_predict.py
Due: lint, test, document

fixed docs and deploy
  .pypirc
  docs/source/conf.py
  docs/source/index.rst
  lrtree/__init__.py
  lrtree/fit.py
  lrtree/generate_data.py
  lrtree/predict.py
Due: document

add docs step in github action
  .github/workflows/python-package.yml
Due: none

fixed readme
  README.md
Due: none

readd script after rewrite
  scripts/fit_data_reelles.py
Due: none

fixed glmtree
  .github/workflows/python-package.yml
Due: none

fixed pypirc for private gitlab
  .gitlab-ci.yml
  .pypirc
Due: lint, test, document

sonar and travis fixes
  .gitlab-ci.yml
  .travis.yml
  lrtree/__init__.py
  lrtree/fit.py
  tests/conftest.py
  tests/test_fit.py
  tests/test_init.py
  tests/test_predict.py
Due: lint, test, document

fix check args error introduced earlier
  lrtree/__init__.py
  setup.py
Due: none

conditional upload doc and install codecov in travis
  .github/workflows/python-package.yml
  .travis.yml
Due: none

syntax fix and coverage report on travis to upload on codecov
  .github/workflows/python-package.yml
  .travis.yml
Due: none

add APPLICATION TAG VERSION to github env
  .github/workflows/python-package.yml
Due: none

delete everything in pages except docs and README
  .github/workflows/python-package.yml
  .gitignore
  .gitlab-ci.yml
  .pypirc
  .travis.yml
  LICENSE
  MANIFEST.in
  Pipfile
  lrtree/__init__.py
  lrtree/fit.py
  lrtree/generate_data.py
  lrtree/predict.py
  scripts/fit_data_reelles.py
  scripts/traitement_data.py
  scripts/validation.py
  setup.py
  test/conftest.py
  test/test_fit.py
  test/test_init.py
  test/test_predict.py
Due: lint, test, document

fix docs pipelines and travis
  .github/workflows/python-package.yml
  .travis.yml
  docs/source/index.rst
Due: document

adding nojekyll for gh pages to render...
  .github/workflows/python-package.yml
Due: none

force checkout and run APPLICATION VERSION in pipenv
  .github/workflows/python-package.yml
  lrtree/__init__.py
Due: none

Rollout version 1.0.0
  .nojekyll
  _modules/lrtree.html
Due: none

deduplicate predict and predict_proba
  lrtree/predict.py
  scripts/traitement_data.py
Due: none

Rollout version 1.0.0
  _modules/lrtree/predict.html
Due: none

setup, pipfile, pypirc updates
  .pypirc
  Pipfile
  setup.py
Due: lint, test

better reproducibility + profiling
  Pipfile
  lrtree/__init__.py
  lrtree/fit.py
  lrtree/generate_data.py
  lrtree/predict.py
  scripts/fit_data_reelles.py
  scripts/profiling.py
  scripts/traitement_data.py
  scripts/validation.py
Due: lint, test

better reproducibility²
  lrtree/fit.py
  lrtree/generate_data.py
  scripts/consistency.py
  scripts/validation.py
Due: none

added clipping, tqdm, shut up sklearn and changed some values in grid
  Pipfile
  lrtree/fit.py
  scripts/consistency.py
Due: lint, test

consistency and leaves as segment and dispatch of kwars
  lrtree/__init__.py
  lrtree/fit.py
  lrtree/generate_data.py
  scripts/consistency.py
Due: none

reorganized data_treatment and real data scripts
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  scripts/fit_data_reelles.py
  scripts/realdatacacf.py
  scripts/realdatagca.py
  scripts/traitement_data.py
Due: none

introduce processing class and early stopping arguments
  .gitlab-ci.yml
  Pipfile
  lrtree/__init__.py
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/predict.py
  scripts/consistency.py
  scripts/realdatacacf.py
  scripts/realdatagca.py
  scripts/realdataopen.py
Due: lint, test, document

reorg cacf data
  scripts/realdatacacf.py
Due: none

opendata scripts
  Pipfile
  lrtree/fit.py
  scripts/realdataopen.py
Due: lint, test

changed pipeline, added fit options, fix some bugs, added tests
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  Pipfile
  lrtree/__init__.py
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  scripts/consistency.py
  scripts/profiling.py
  scripts/realdataopen.py
  tests/test_discretization.py
  tests/test_fit.py
  tests/test_init.py
  tests/test_predict.py
Due: lint, test, document

trying to fix data_treatment
  .github/workflows/python-package.yml
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

probable fix for data treatment
  lrtree/__init__.py
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

full opendata experiments; some fixes if best tree is root
  lrtree/fit.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

add validation and/or cv datasets and fix kwargs
  lrtree/fit.py
  lrtree/logreg.py
  scripts/realdataopen.py
Due: none

index resetting
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

CV and condtional drop of target
  lrtree/logreg.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

trying to fix #1
  .gitlab-ci.yml
  Pipfile
  lrtree/__init__.py
  lrtree/discretization.py
  lrtree/fit.py
  scripts/realdataopen.py
  tests/test_discretization.py
Due: lint, test, document

sudo apt-get instead of apt
  .github/workflows/python-package.yml
Due: none
