Repository adimajo/lrtree: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, document

Path conditions:
  lint: any of: .gitlab-ci.yml, Pipfile, glmtree/**/*
  test: any of: .gitlab-ci.yml, Pipfile, glmtree/**/*, tests/**/*
  document: any of: .gitlab-ci.yml, glmtree/**/*, docs/**/*

lxml deps
  .github/workflows/python-package.yml
  Pipfile
Due: lint, test

some more ubuntu deps
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

go back to ubuntu20.04
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

restrict to py3.9 (this is getting annoying)
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

any better with Cython?
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

build-dep?
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

again
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

again²: cherry-pick to see what package requires lxml
  .github/workflows/python-package.yml
  Pipfile
Due: lint, test

again^3
  .github/workflows/python-package.yml
Due: none

again^4
  .github/workflows/python-package.yml
Due: none

some progress
  .github/workflows/python-package.yml
Due: none

kaggle cli for import in tests
  .github/workflows/python-package.yml
Due: none

aha! kaggle and not kaggle-cli
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  Pipfile
Due: lint, test, document

kaggle.json
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

kaggle.json in .kaggle
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

drop kaggle nightmare
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  scripts/realdataopen.py
Due: lint, test, document

deal with sk regression in 1.2
  lrtree/discretization.py
  tests/test_discretization.py
Due: test

nosec new assert
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  lrtree/discretization.py
Due: lint, test, document

pipeline fixes (quotes and fi)
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

pipeline fix (remove 3.7 support)
  .github/workflows/python-package.yml
Due: none

deal with pipenv regression (see e.g. Guake/guake#2156)
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  lrtree/discretization.py
  lrtree/predict.py
Due: lint, test, document

no need for _categorie_data_bin_test (I think?)
  lrtree/predict.py
Due: none

maybe with lockfile?
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

at which point is pipenv upgraded?
  .github/workflows/python-package.yml
Due: none

last one before giving up and adding requirements
  .github/workflows/python-package.yml
  .gitlab-ci.yml
Due: lint, test, document

abandoning all hopes
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  requirements.txt
Due: lint, test, document

add dev and remove scripts for now
  requirements-dev.txt
  setup.py
Due: none

bump version, only push to pypi for one pipeline run, reintroduce one script
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  .pypirc
  lrtree/__init__.py
  lrtree/_command_line/__init__.py
  lrtree/_command_line/consistency.py
  setup.py
Due: lint, test, document

Rollout version 1.0.2
  _autosummary/lrtree.discretization.html
  _autosummary/lrtree.fit.html
  _autosummary/lrtree.generate_data.html
  _autosummary/lrtree.html
  _autosummary/lrtree.logreg.html
  _autosummary/lrtree.predict.html
  _modules/index.html
  _modules/lrtree.html
  _static/documentation_options.js
  genindex.html
  index.html
  py-modindex.html
  search.html
Due: none

bump version, fix travis, add real data as script, add extras_require, better README
  .github/workflows/python-package.yml
  .gitlab-ci.yml
  .travis.yml
  README.md
  lrtree/__init__.py
  lrtree/_command_line/consistency.py
  lrtree/_command_line/realdataopen.py
  setup.py
  tests/test_discretization.py
Due: lint, test, document

Rollout version 1.0.3
  README.md
  _autosummary/lrtree.discretization.html
  _autosummary/lrtree.fit.html
  _autosummary/lrtree.generate_data.html
  _autosummary/lrtree.html
  _autosummary/lrtree.logreg.html
  _autosummary/lrtree.predict.html
  _modules/index.html
  _modules/lrtree.html
  _static/documentation_options.js
  genindex.html
  index.html
  py-modindex.html
  search.html
Due: none

better documentation, drop 3.10 on travis, add README to sphinx, fix url to arti on gitlab
  .gitlab-ci.yml
  .travis.yml
  Pipfile
  README.md
  docs/source/conf.py
  docs/source/index.rst
  lrtree/__init__.py
  lrtree/_command_line/consistency.py
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/generate_data.py
  lrtree/logreg.py
  scripts/profiling.py
Due: lint, test, document

Tuple import for python < 3.9
  lrtree/generate_data.py
Due: none

Rollout version 1.0.4
  README.md
  _autosummary/lrtree.discretization.html
  _autosummary/lrtree.fit.html
  _autosummary/lrtree.generate_data.html
  _autosummary/lrtree.html
  _autosummary/lrtree.logreg.html
  _autosummary/lrtree.predict.html
  _modules/index.html
  _modules/lrtree.html
  _modules/lrtree/discretization.html
  _modules/lrtree/logreg.html
  _sources/index.rst.txt
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/css/badge_only.css
  _static/css/theme.css
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/js/theme.js
  _static/language_data.js
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
Due: none

with grouping
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  scripts/realdataopen.py
Due: none

fix len(threshold)
  lrtree/_command_line/consistency.py
Due: none

flake and grouping propagation
  lrtree/_command_line/realdataopen.py
  lrtree/discretization.py
  tests/test_discretization.py
Due: test

clarified grouping vs discretization vs data_treatment
  lrtree/__init__.py
  lrtree/_command_line/realdataopen.py
  lrtree/discretization.py
  lrtree/fit.py
  lrtree/logreg.py
  lrtree/predict.py
  tests/test_fit.py
  tests/test_predict.py
Due: test

fix grouping call
  lrtree/_command_line/realdataopen.py
  lrtree/discretization.py
Due: none
